@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@tailwind utilities;

@font-face {
  font-family: "RussOne";
  src: url("fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
